<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sequenciamento_Automatico.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Esta seção define a configuração de log para My.Application.Log-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Descomente a seção abaixo para escrever um Evento de Log da Aplicação -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Descomente a seção abaixo e substitua APPLICATION_NAME pelo nome do seu aplicativo para escrever no Log de Eventos do Aplicativo -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Sequenciamento_Automatico.MySettings>
            <setting name="name" serializeAs="String">
                <value>C:\\Users\\%username%  \\Documents\\Teste</value>
            </setting>
            <setting name="startsequencing" serializeAs="String">
                <value>1962-10-11</value>
            </setting>
            <setting name="finishsequencing" serializeAs="String">
                <value>1963-11-16</value>
            </setting>
            <setting name="npexceptionday" serializeAs="String">
                <value />
            </setting>
            <setting name="pstandarday" serializeAs="String">
                <value>Monday Tuesday Wednesday Thursday Friday </value>
            </setting>
        </Sequenciamento_Automatico.MySettings>
    </userSettings>
</configuration>
